body {
    background: darkgrey;
}

.ta {
    resize: none;
}

.consola {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    color: #00ff00;
    font-family: courier new;
    resize: none;
}

.datos {
    float: right;
}

.btnp {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.contenedor{
    width: 1080px;
    margin: auto;
    background:#75b2ee;
    color: rgb(0, 112, 163);
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
}

#pestanas ul{
    margin-left: -40px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #22556e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(0, 112, 163);
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #ffffff;
}

#contenidopestanas{
    clear: both;
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid rgb(0, 112, 163);
    width: 1025px;
}

#pestanascon {  
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanascon ul{
    margin-left: -40px;
}

#pestanascon li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #22556e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(0, 112, 163);
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanascon a:link{
    text-decoration: none;
    color: #ffffff;
}

#contenidopestanascon{
    clear: both;
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid rgb(0, 112, 163);
    width: 1025px;
}

/* Style The Dropdown Button */
            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
                border-radius: 15px;
                /*border:1px solid #4CAF50;*/
                overflow: hidden;
            }

            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {
                display: block;
            }

            /* Change the background color of the dropdown button when the dropdown content is shown */
            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }